@import compass/reset
@import compass/utilities
@import compass/css3

// Base font
=font-default
  font: 13px Arial, Helvetica, sans-serif

.content
  margin: 20px auto 20px auto
  width: 700px
  h1
    a
      color: #222
      text-decoration: none
  
.red
  background-color: #FCBDBD
.blue
  background-color: #C6BDFC
.green
  background-color: #BFFCBD
.orange
  background-color: #FCE4BD
.purple
  background-color: #F7BDFC
.turq
  background-color: #BDFBFC
.yellow
  background-color: #F9FCBD


.directory
  margin: 20px 0px 0px 0px
  .file
    float: left
    position: relative
    width: 100%
    margin: 12px 0px
    span.title
      text-decoration: underline
      font-weight: 800
      color: #444
    a
      color: black
      margin: 0px 2px 0px 0px
    .label
      font-weight: 300
      display: inline
      margin: 0px 2px
      padding: 5px
      color: #333
    .name, .is_a, .n_equals, .abstracting_away, .filters, .limited_to, .limits
      float: left
    .name
      font-weight: 400
    .n_equals
      width: 10%
    .name, .limited_to
      width: 15%
    .filters
      width: 40%
      .label
        cursor: pointer
    .limits
      width: 10%

.search
  .field
    float: left
    width: 50%
    margin: 5px 0px 0px 0px
  .field.submit
    width: 100%
  margin: 30px 0px 40px 0px
  input[type="text"]
    float: left
    width: 30%
    border: 1px solid #efefef
    padding: 5px
    font-size: 1em
  input[type="submit"]
    float: left
    margin: 10px 0px 0px 0px
  label
    float: left
    width: 50%
    padding: 8px 10% 0px 0px
    font-weight: 800
    margin: 0px 10px 0px 0px
    width: 100px
  label.tip
    span.bdr
      border-bottom: 1px dotted #333
  .top_results
    float: left
    width: 100%
    margin: 20px 0px 0px 0px
    padding: 0px 0px 10px 0px
    font-weight: 200
    text-align: right
    border-bottom: 1px solid #efefef

.patterns
  float: left
  .pattern
    position: relative
    margin: 40px 0px 0px 0px
    .count
      font-family: helvetica, arial
      position: absolute
      left: -72px
      top: -5px
      font-weight: bold
      font-size: 1.3em
    .p_count, .bits, .pmf
      font-family: helvetica, arial
      float: left
      position: absolute
      left: -110px
      top: 20px
      font-size: .9em
      font-weight: 100
    .pmf
      top: 40px
    .s1,.s2,.s3
      margin: 2px 0px
      font-family: monaco, courier
      font-size: .9em
    .showHide
      text-align: left
      margin: 10px 0px 10px 0px
      color: white
    .code
      margin: 10px 0px 0px 0px
      display: none
      pre.block
        margin: 5px 0px
        background-color: #f8f8f8
        padding: 10px
        font-family: monaco, courier
        font-size: .8em
    .blank
      background-color: #DEEEFF
      
.clear
  clear:both

body
  +font-default
  background: #fff
  color: #0d0d0d
  span.button
    padding: 1px 4px
    background-color: #5c5c5c
    color: white
  span.button:hover
    background-color: #9c9c9c
    cursor: pointer
  span.highlight
    background-color: #FFFFA3
  span.proj
    background-color: #C7FFD9
    padding: 2px 4px
    margin: 0px 5px 0px 0px
    line-height: 2em
  span.loc
    .num
      font-weight: bold
      display: inline
  b
    font-weight: bold
  h1
    font-weight: bold
    font-size: 1.3em
    margin-bottom: 20px
    color: black
  ul
    li
      display: inline
      a
        color: #000
        text-decoration: underline