.info
  We've run a bunch of different analyses:
.directory
  .file
    .name
      %span.title Dataset
    .n_equals
      %span.title N
    .filters
      %span.title AST Abstractions
    .limited_to
      %span.title Limited To
  -@files.sort_by{|x| x[:name].split("-")[0].to_i}.each do |f|
    .file
      .name
        %a{:href => "?file=#{f[:name]}"}=f[:name]
      .n_equals
        ="n=#{f[:name].split("-")[0]}"
      .filters
        -f[:opts].each do |o|
          .label{:class => o[1], :title =>"sample title"}
            =o[0]
      .limited_to
        -if f[:name].split("-").include?("calls")
          .label.red
            calls
    .clear
  