html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.content {
  margin: 20px auto 20px auto;
  width: 700px;
}

.patterns .pattern {
  position: relative;
  margin: 40px 0px 0px 0px;
}
.patterns .pattern .count {
  font-family: helvetica, arial;
  position: absolute;
  left: -65px;
  top: 10px;
  font-weight: bold;
  font-size: 1.3em;
}
.patterns .pattern .p_count {
  font-family: helvetica, arial;
  float: left;
  position: absolute;
  left: -100px;
  top: 35px;
  font-size: 0.9em;
  font-weight: 100;
}
.patterns .pattern .s1, .patterns .pattern .s2 {
  margin: 2px 0px;
  font-family: monaco, courier;
}
.patterns .pattern .showHide {
  text-align: left;
  margin: 10px 0px 10px 0px;
  color: white;
}
.patterns .pattern .code {
  margin: 10px 0px 0px 0px;
  display: none;
}
.patterns .pattern .code pre.block {
  margin: 5px 0px;
  background-color: #f8f8f8;
  padding: 10px;
  font-family: monaco, courier;
  font-size: 0.8em;
}

body {
  font: 13px Arial, Helvetica, sans-serif;
  background: white;
  color: #0d0d0d;
}
body span.button {
  padding: 1px 4px;
  background-color: #5c5c5c;
  color: white;
}
body span.button:hover {
  background-color: #9c9c9c;
  cursor: pointer;
}
body span.highlight {
  background-color: #ffffa3;
}
body b {
  font-weight: bold;
}
body h1 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 20px;
  color: black;
}
body ul li {
  display: inline;
}
body ul li a {
  color: black;
  text-decoration: underline;
}
